APP_ENV=prod
APP_DEBUG=0
APP_SECRET=change-this-secret
DEFAULT_URI=https://www.fceb.fr
DATABASE_URL="mysql://fceb_user:change-this-password@127.0.0.1:3306/fceb_prod?serverVersion=8.0.32&charset=utf8mb4"
MAILER_DSN=null://null
